.card {
  justify-content: center;
  border: 1px solid rgb(34, 34, 34);
  flex-wrap: wrap;
  width: 300px;
  margin-left: 100px;
  margin-right: 20px;
  padding: 20px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  display:inline-block;
}

.card:last-child {
  margin-right: 0;
}

.card h2 {
  color: rgb(151, 23, 23);
}

.card img {
  border-radius: 50%;
}
